body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  color: black;
}
h1 {
  font-size: 50px;
}

.Heading {
  border-left: 4px solid rgb(255, 110, 110);
  border-radius: 2px;
  margin-top: 150px;
  margin-bottom: 5px;
  margin-right: 150px;
  margin-left: 190px;
}
.extra {
  margin-left: 20%;
}
.ocolor {
  color: orange;
}
.link-button {
  background-image: linear-gradient(red, orange);
  font-size: 20px;
  color: white;
}
.width-manage {
  width: 50%;
}
.width-manage img {
  width: 70%;
}
.flexible {
  display: flex;
}
.button {
  background-color: rgb(206, 56, 56);
  font-size: 20px;
  color: seashell;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.center {
  padding-left: 600px;
}
#different-color {
  color: rgb(19, 46, 104);
}
.picture-resize {
  width: 10%;
  height: 40%;
}
#bg1 {
  background-color: rgb(141, 228, 228);
}
#bg2 {
  background-color: rgb(230, 166, 121);
}
#bg3 {
  background-color: rgb(100, 100, 150);
}
.card {
  width: 20%;
  float: left;
  margin-left: 5%;
  padding-left: 5%;
  border-radius: 20px;
}

#coding {
  width: 60%;
  position: relative;
  right: 900px;
  top: 90px;
}
.nolimit {
  padding-left: 900px;
  
  
}
.background-image {
  background-image: url(images/pictures/dream-bg.png);
  background-repeat: no-repeat;
  background-position: 330px;
}
.Global-comunity {
  padding-top: 200px;
  padding-left: 200px;
}
#comunity {
  width: 20%;
  position: relative;
  left: 1130px;
  bottom: 190px;
}
.background-image2 {
  background-image: url(images/shapes/exp-bg.png);
  background-repeat: no-repeat;
  background-position: 1500px;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 100%;
  background-color: #c74816;
}
.css {
  width: 65%;
  background-color: #79c006;
}
.Time-Managment {
  width: 70%;
  background-color: #a39ad6;
}
.learning{
  padding-left: 500px;
  
  padding-bottom: 200px;
}
#victory-picture{
  width: 120%;
}
.blue{
  color: rgb(27, 228, 77);
}
#wcolor{
  color: white;
}
#rcolor{
  color: red;
}
.twocolor{
  background-color: rgba(0, 0, 0, 0.925);
  font-family: 'Island Moments', cursive;
  font-size: 20px;
}
.footer{
  padding-left: 400px;
}
#ycolor{
  color: rgba(240, 248, 255, 0.692);
}
.learn-paragraph{
  padding-bottom: 600px;
}
.width-manage2{
  width: 80%;
  
}
